/* Font Definitions */
@font-face {
  font-family: "TBC-Sailec-Bold";
  src: url("../fonts/TBC_Sailec_Bold.woff2") format("woff2");
}

@font-face {
  font-family: "TBC-X-Black";
  src: url("../fonts/TBC_X_Black.woff2") format("woff2");
}

@font-face {
  font-family: "TBC-X-Medium";
  src: url("../fonts/TBC_X_Medium.woff2") format("woff2");
}

@font-face {
  font-family: "TBC-X-Regular";
  src: url("../fonts/TBC_X_Regular.woff2") format("woff2");
}

/* End Font Definitions */

:root {
  --header-bg-color: #1A1E1F;
  --accent-color: #00a3e0;
  --text-color: #fff;
  --text-secondary-color:#f4f4f4;
  --secondary-bg-color: rgb(43, 43, 43);
  --border-color: rgb(85, 85, 85);
  --link-color: rgb(0, 174, 243);
  --link-hover-color: #aaa;
  --slider-bg-color: rgb(43, 43, 43);
  --footer-bg-color: #191e1f;
  --footer-text-color: #fff;
  --footer-button-bg: #00aeef;
  --footer-button-text: #fff;
  --terms-popup-bg: #2b2b2b;
  --terms-popup-text: #fff;
  --regulation-section-text: #8c8c8c;
  --dropdown-bg-color: #161616;
  --terms-button-bg-color: #dbdbdb;
  --terms-button-color: #1c1c1c;
  --course-link-color: #00aeef;
  --mobile-nav-bg-color: #222222;
  --dot-bg-color: #aaa;
  --dot-active-color: #333;
  --learning-program-bg-color: #161616;
  --text-on-image-color:#f4f4f4;

  --tbc-x-regular: "TBC-X-Regular", sans-serif;
  --tbc-x-black:"TBC-X-Black", sans-serif;
  --tbc-sailec-bold:"TBC-Sailec-Bold", sans-serif;
  --tbc-x-medium:"TBC-X-Medium", sans-serif;
}

/* Reset Styles */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* End Reset Styles */



body {
  font-family: var(--tbc-x-regular);
}

/* Header Styles */

#header {
  font-family:var(--tbc-x-regular);
  background-color: var(--header-bg-color);
  min-height: 69px;
  min-width: 100%;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
 

 }

.tbclogo {
  margin-left: 15px;
}
.tbclogo img{
  min-width: 182px;
  min-height: 40px;
}

/* Desktop Menu Styles */

.desktop-menu {
  display: none;
  min-height: 84px;
  font-size: 14px;
}
.desktop-menu ul a {
  color: inherit;
  text-decoration: none;
}

.desktop-menu ul {
  display: flex;
  align-items: center;
  color: white;
  gap: 3rem;
  list-style-type: none;
}

.desktop-menu ul li {
  cursor: pointer;
}

.tbc-x-usaid {
  color: var(--accent-color);
}

/* Mobile Menu Styles */

.menu {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 7px;
  width: 36px;
  cursor: pointer;
}

.menu-first,
.menu-second,
.menu-third {
  background-color: rgb(219, 219, 219);
  border-radius: 5px;
  margin-right: 10px;
}
.menu-first {
  width: 13px;
  height: 3px;
}
.menu-second {
  width: 26px;
  height: 3px;
}
.menu-third {
  margin-left: auto;
  width: 13px;
  height: 3px;
}

/* End Header Styles */

/* Image Styles */

.body-image {
  width: 100%;
  position: relative;
}

/* Mobile Image Styles */

.mobile-image {
  width: 100%;
  height: auto;
  display: block; /* Remove any residual margins or paddings */
  margin: 0 auto; /* Center the image within its container */
}

/* Desktop Image Styles */

.desktop-image {
  width: 100%;
  height: auto;
  margin: 0 auto; /* Center the image within its container */
  display: none;
}

/* Image Text Overlay Styles */

.image-text-overlay {
  font-family:var(--tbc-x-black);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: absolute;
  top: 25%;
  left: 15%;
  text-align: center;
  color: var(--text-on-image-color) /* Set the text color as needed */
}

/* Image Text Styles  */
.tbc-usaid {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}
.tech {
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
}

.image-section {
  background-color: var(--secondary-bg-color);
  /* margin-top: 83px; */
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 13px;
}
.program-description {
  color: var( --text-secondary-color);
  font-size: 16px;
  line-height: 1.9;
}

.learn-more-link {
  font-family: var(--tbc-sailec-bold);
  cursor: pointer;
  color: var(--link-color);
}
.learn-more-link:hover {
  color: var(--link-hover-color);
}

/* Programs Styles */
.learning-program {
  background-color: var(--learning-program-bg-color);
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  padding-bottom: 10%;
}

.learning-title {
  font-size: 24px;
  color: white;
}
.learning-courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
}
.course-card {
  width: calc(100% - 20px);
  height: auto;
  border: 1.5px solid var(--border-color); /* Add borders or other styling as needed */
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.course-card img {
  width: 100%;
}
.course-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px;
}

.course-title {
  color: var( --text-secondary-color);
  font-size: 15px;
}
.registration-status {
  color: var( --text-secondary-color); 
  font-size: 14px;
}

.course-details-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--course-link-color);
  cursor: pointer;
}

.course-details-link img {
  width: 16px;
  height: 12px;
}

/* End Programs Styles */

@media (min-width: 768px) {
  #header{
    position: fixed;
    top:0;
    z-index: 1000;
  }
  .content-wrapper{
    padding-top: 4.2rem;
  }
 
  .image-section{
    margin-top: 4rem;
  }
  .mobile-image,
  .menu {
    display: none;
  }

  .desktop-image {
    display: block;
    min-height: 352px;
  }
  .learning-courses {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }

  .desktop-menu {
    display: flex;
  }

  .learning-title {
    margin: 2rem 0;
  }

  .program-description {
    font-size: 28px;
    line-height: 1.5;
  }
  .learn-more-link {
    font-size: 20px;
  }

  .tbc-usaid {
    font-size: 42px;
  }
  .tech {
    font-size: 34px;
  }

  .image-text-overlay {
    top: 25%;
    left: 1%;
  }
}

@media (min-width: 500px) and (max-width: 769px) {
  .learning-courses {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}

@media (min-width: 1024px) {
  .content-wrapper {
    padding-left: 15%;
    padding-right: 15%;
  }

  .course-card {
    min-height: 400px;
  }

  .course-details-link {
    margin-top: 3.5rem;
  }

  #header {
    justify-content: space-around;
  }

  .tbc-usaid {
    font-size: 42px;
  }
  .tech {
    font-size: 34px;
  }

  .image-text-overlay {
    top: 25%;
    left: 15%;
  }

  .learning-courses {
    grid-template-columns: repeat(3, 1fr);
  }
  .course-title {
    font-size: 18px;
  }
  .course-details-link {
    font-size: 14px;
    margin-top: 25%;
  }
}

/* Mobile Navbar Styles */
.mobile-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  background-color: var(--mobile-nav-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 5;
}
.mobile-navbar ul {
  font-family: var(--tbc-x-medium);
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 5rem;
}

.mobile-navbar ul li {
  cursor: pointer;
}
.mobile-navbar ul li:nth-child(3) {
  color: var(--accent-color);
}

.mobile-navbar.open {
  transform: translateX(0); /* Move the navbar into the viewport when open */
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

/* End Mobile Navbar */

/* Slider Styles */
#slider-container {
  background-color: var(--slider-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 15px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
  max-width: 100%; /* Adjust as needed */
  margin: auto;
}

/* Slider Heading */
#slider-container h2 {
  color: var( --text-secondary-color);
  font-size: 18px;
}

/* Slider */
#slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.slide img {
  width: 200px;
  height: auto;
}

.arrow {
  position: absolute;
  top: 35%;
  font-size: 24px;
  cursor: pointer;
  color: white;
  z-index: 5;
}

.arrow.left {
  left: 5%;
}

.arrow.right {
  right: 5%;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--dot-active-color);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: var(--dot-bg-color);
}

@media (min-width: 768px) {
  /* .dots {
        display: none;
    } */

  .slide img {
    width: 200px; /* Adjust as needed */
  }
  #slider-container h2 {
    font-size: 24px;
  }
}

/* Hide arrows on mobile */
@media (max-width: 767px) {
  .arrow {
    display: none;
  }
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dot {
    margin: 0 5px;
  }

  .slide {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .slide img {
    width: 200px;
    height: auto;
  }
}

/* Slider Responsive */
@media (min-width: 1024px) {
  .slide img {
    width: 250px;
  }
  .dots {
    margin-top: 2.5rem;
  }
  .slider-content {
    margin-top: 3.5rem;
     
  }
  #slider-container h2 {
    transform: translateX(-120%);
  }
}

/* End Slider Styles */

/*  Dropdown Text Styles  */

#dropdown {
  background-color: var(--dropdown-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.dropdown-header {
  width: 80%;
  font-size: 20px;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  cursor: pointer;
  
}

#course-Registration-Content p {
  margin-top: 1rem;
  font-size: 14px;
}

#course-Registration-Content span {
  font-size: 14px;
}
.final-Stage-Description {
  margin-bottom: 2rem;
}
#registration-content,#price-content{
  margin-top: 1rem;
  font-size: 14px;
  line-height: 2.5;
}

.course-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #363131;
  align-items: center;
  padding-bottom: 1.5rem;
  color: var( --text-secondary-color);
}
.course-header img {
  cursor: pointer;
}
.content {
  display: none;
}
.all-question {
  font-family: var(--tbc-sailec-bold);
  color: var(--accent-color);
  font-size: 16px;
}

#all-question-desktop {
  display: none;
}
#all-question {
  margin-top: 1.5rem;
}
.content {
  border-bottom: 1px solid #363131;
  padding-bottom: 1.5rem;
}

/* End Dropdown Text Styles  */

@media (min-width: 767px) {
  #dropdown{
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #all-question-desktop {
    display: block;
  }
  #all-question {
    display: none;
  }
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 24px;
    color: var( --text-secondary-color);
  }

  .dropdown-content {
    width: 70%;
    font-size: 16px;
  }
  .all-question {
    font-size: 20px;
  }
}

/* Footer */
#footer {
  background-color: var(--footer-bg-color);
  padding: 2rem 15%;
}

.contactSection {
  display: flex;
  justify-content: space-between;
}

.contactSection img {
  width: 100px;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.socialIcons img {
  width: 40px;
}

.socialIconsContainer img {
  width: 35px;
  height: 35px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-info-button{
  background-color: var(--footer-button-bg);
  border-radius: 5px;
  min-width: 109px;
  min-height: 35px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.contact-info-button:hover{
  background-color: white;
  color:black;
}
#mainFooter p {
  font-size: 14px;
  color: white;
}

/* Footer Pop-up Styles */

.legalTerms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  color: white;
}
.copyright{
  color:var(--text-secondary-color) ;
}
.terms-link {
  cursor: pointer;
}

.terms-link:hover {
  opacity: 0.7;
}

.terms-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--terms-popup-bg);
  width: 80%;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: scroll;
}

.terms-popup.open {
  display: block;
}

.terms-popup img {
  cursor: pointer;
}
.tbc-link {
  color: inherit;
}

/* Style the close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/*  */
.regulation-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.regulation-section h1 {
  font-family: var(--tbc-sailec-bold);

  font-size: 21px;
  color: var(--regulation-section-text);
  margin-bottom: 0rem;
}

.section-title {
  font-family: var(--tbc-sailec-bold);
  font-size: 15px;
  color: var(--regulation-section-text);
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
}

.section-paragraph {
  color: var(--regulation-section-text);
  font-size: 14px;
  opacity: 0.7;
  margin: 0.5rem 0 0 0;
}
.closeButton {
  font-family: var(--tbc-sailec-bold);
  background-color: var(--terms-button-bg-color);
  color: var(--terms-button-color);
  min-width: 100%;
  min-height: 40px;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.academy-mail{
  color: inherit;
}
.academy-mail:focus{
  outline: none;
}
/*  End Footer Pop-up Styles */

/* Desktop Footer */

#desktopFooter {
  background-color: var(--footer-bg-color);
  padding: 1.5rem 10px;
  display: none;
}

.footer-logo-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo {
  height: 30px;
}

#socialIconsContainer img {
  width: 39px;
  height: 39px;
}

#socialIconsContainer {
  display: flex;
  gap: 0.5rem;
}
.footer-terms-contact {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.contact-button {
  height: 39px;
  min-width: 162px;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--footer-button-bg);
  border-radius: 5px;
  color: white;
}
.contact-button:hover{
  background-color: #D5D5D5;
  color: #353131;
}
/* Footer Responsive */

@media (min-width: 768px) {
  .section-title {
    font-size: 16px;
  }
  .regulation-section h1 {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  #desktopFooter {
    display: block;
  }
  #footer {
    display: none;
  }
  .terms-popup {
    width: 50%;
    padding-left: 3rem;
  }
}

@media (min-width: 1024px) {
  #desktopFooter {
    padding: 1.5rem 14%;
  }
}
